@font-face {
    font-family: myFirstFont;
    src: url(content/Euclid\ Circular\ B\ Light.ttf);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: myFirstFont;
}

.dts-header-head {
    background-color: #192335;
}

.hand-hello {
    font-size: larger;
}

.dts-header-head-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 14px;

}

.dts-header-head {
    padding: 0px 15px 0px 15px;
}

.header-links-ulist {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.categorie-option {
    z-index: 2;
}

.dts-header-phone-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    opacity: 67%;
}

.hand-hello-para {
    color: #ffffff;
    opacity: 67%;
}

.header-question-icon {
    color: #ffffff;
    opacity: 67%;
}

.header-link-ancor {
    text-decoration: none;
    color: #ffffff;
    opacity: 67%;
}

.dts-head-add-content-icon {
    color: #ffffff;
    opacity: 67%;
    display: none;
}

.dts-header-searh-content {
    display: flex;
    align-items: center;
}

.search-form-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 35px;
    border-radius: 5px;
    transition: all 0.3s;
    background: linear-gradient(45deg, #77abaf 8%, rgba(203, 76, 235, 0.97) 67%);
}

.search-form-button:hover {
    box-shadow: rgba(75, 75, 80, 0.281) 0px 7px 19px 0px;
}

.dts-header-search-items {
    padding: 10px 30px;
    border-bottom: 1px solid #e6e3f1;
    /* box-shadow: rgba(75, 75, 80, 0.281) 0px 7px 29px 0px; */
}

.dts-header-searh-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dts-search {
    width: 100%;
    padding: 2px 8px;
    height: 100%;
    border: 1px solid #77abaf;
    border-radius: 30px;
}

.categories-and-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.head-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
}

.head-search-inp-icon {
    padding: 0px 10px;
}

.head-search-inp {
    caret-color: #6b7385;
    border: none;
    outline: none;
    padding: 10px 10px;
    font-size: large;
}

.head-search-inp::placeholder {
    font-size: large;
}

.head-categorie {
    border-right: 1px solid #77abaf;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0px 15px;
}

.categories-select-icon-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.categories-select,
.select-icon {
    color: #6b7385;
}

.select-icon {
    cursor: pointer;
}

.categorie-option {
    display: none;
    list-style: none;
    position: absolute;
    left: -10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(75, 75, 80, 0.281) 0px 17px 19px 0px;
}

.categorie-option-show {
    display: block;
}

.categorie-option-list {
    line-height: 35px;
    padding: 0px 5px;
    cursor: pointer;
}

.categorie-option-list:hover {
    background-color: #201c1c2a;
    /* padding: 10px; */
    color: #6b7385;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.dts-seacrh-left-side-part,
.dts-right-side-part {
    display: none;
}

.search-left-side-icon,
.dts-right-side-icon {
    padding: 10px;
}

.dts-center-logo {
    display: none;
}

.header-nav {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;

}

.header-nav-ulist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-nav-links {
    text-decoration: none;
    color: #192335;
}

.header-nav-item {
    padding: 12px 15px;
    font-weight: bold;
    line-height: 30px;
}

.fa-angle-down {
    transition: all 0.2s;
}

.header-nav-item:hover .fa-angle-down {
    transition: all 0.2s;
    transform: rotate(180deg);
}

.header-nav-item:hover .nav-hover-drop {
    display: block;
}

.header-nav-item:hover .header-nav-links {
    color: #0d6efd;
    transition: all 0.4s;
}

.nav-dropdown-arrow-icon {
    font-size: smaller;
}

.nav-dropdown-arrow-icon-rotate {
    transform: rotate(0.5turn);
}

.dts-nav-dropdown {
    z-index: 3;
    position: relative;
}

.nav-hover-drop {
    position: absolute;
    left: -10px;
    width: 200px;
    z-index: -1;
    display: none;
    list-style: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 4px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.drop-top {
    padding-top: 20px;
}

.nav-hover-drop-item {
    line-height: 40px;
}

.hover-drop-link {
    text-decoration: none;
    color: #6b7385;
    display: block;
    font-size: medium;
    padding: 0px 15px;
}

.hover-drop-link:hover {
    background-color: #dddddd79;
    border-radius: 5px;
    color: #0d6efd;
    transition: all 0.5s;

}

.main-heading-h1 {
    font-weight: bolder;
    font-size: xx-large;
}

.main-heading {
    display: none;
    position: absolute;
    left: -410px;
    top: 10px;
    width: 750%;
    z-index: -1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-nav-item:hover .main-heading {
    display: block;
    transition: all 1.4s;
}

.main-heading-h1 {
    padding: 35px 15px;
    background: linear-gradient(45deg, #163381 64%, #5d55cf 89%);
    color: #ffffff;
}

.content-lists-headings {
    font-size: small;
    font-weight: 900;
    padding: 10px 10px 8px 10px;

}

.content-lists-list {
    margin: 4px 0px;
    padding: 5px 20px;
    font-size: small;
    color: #6b7385;
    display: block;
    width: 100%;

}

.content-lists-list:hover {
    color: #0d6efd;
    background-color: #dddddd79;
    border-radius: 8px;
}

.main-content-parts {
    width: 25%;
}

.main-content {
    display: flex;
    gap: 30px;
    padding: 0px 20px;
    background-color: #ffffff;
}

.horizen-line {
    color: #6b7385;
    opacity: 0.4;
}

.skill-text-img {
    background-image: url(content/quiz.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 1180px;
}

.drop-container {
    position: relative;
}

.drop-skill-part {
    position: absolute;
    top: 12px;
    left: -750px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    transition: all 0.3s;
}

.header-nav-item:hover .drop-skill-part {
    display: flex;
}

.main-content-sec {
    display: flex;
    gap: 30px;
    padding: 30px 20px;
    background-color: #ffffff;
}

.dts-sidebar {
    /* display: none; */
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

/* .dts-sidebar-coll {
    transition: all 0.5s;
    transform: translateX(-100%);

} */
.sidebar-collapes {
    color: #192335;
}

.side-show {
    color: #192335;
}

.dts-sidebar-side {
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    width: 0%;
    height: 100vh;
    transition: all 0.4s;
}

.sidebar-heading-header {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    padding-bottom: 35px;
}

.sidebar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
}

.sidebar-logo-part {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sidebar-img {
    width: 80%;
}

.sidebar-para {
    color: #676d7a;
    font-size: medium;
    font-weight: 600;
    padding: 5px 40px 20px 0px;
}

.sd-phone-mail {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.9em;
    gap: 9px;
}

.sd-mail,
.sd-phone {
    color: #676d7a;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
}

.sd-horiz-line {
    color: #9ca2ad;
}

.sidebar-list-part {
    width: 100%;
}

.sd-ulist {
    list-style: none;
    display: block;
}

.sd-anc-spans {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sd-ancor {
    line-height: 35px;
    color: #192335;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 0px;
}

.ds-ancor-span-icon {
    font-size: larger;
}

.sd-ancor-horiz-line {
    color: #ffffff9a;
    height: 1px;
    background-color: #aaa5a57e;
    border: none;
}

.sd-btn {
    padding: 40px 0px;
    text-align: center;
}

.sd-btn-enroll {
    text-decoration: none;
    padding: 10px 8em;
    border: 2px solid black;
    border-radius: 20px;

}

/* ------------------Home Bannner Start-----------------  */

.home-banner {
    background-image: url(content/bg-g1.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner-section {
    position: relative;
}

.home-banner::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    background: url(content/banner-bg-shape-1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 145px;
    z-index: 1;
}


.banner-content {
    padding: 0px 35px;
}

/* Home Bannner left Start  */
.banner-left-item {
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.banner-flex-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.banner-left-lable {
    font-weight: 600;
    font-size: medium;
    max-width: 240px;
    padding: 14px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-head {
    padding: 25px 0px;
}

.ban-head {
    font-size: 2.5em;
    font-weight: bolder;
}

.ban-para {
    font-size: 1.3em;
    font-weight: 600;
    color: #8a90a3;
}

.banner-btns {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    padding: 30px 5px;
}

.banner-btn-button {
    text-decoration: none;
}

.center-text-btn {
    font-weight: bold;
    font-size: large;
}

.btn-content {
    background: linear-gradient(90deg, #1e9ace 55%, #ac6be5 88%);
    padding: 15px 24px;
    display: flex;
    gap: 15px;
    border-radius: 8px;
    color: #ffffff;
    transition: all 0.3s;
}

.right-arrow-btn {
    opacity: 1;
    transition: all 0.5s;
}

.left-arrow-btn {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.5s;
}

.btn-content:hover {
    transform: translateY(-8px);
}

.btn-content:hover .right-arrow-btn {
    opacity: 0;
    transform: translateX(40px);
}

.btn-content:hover .left-arrow-btn {
    opacity: 1;
    transform: translateX(10px);
}

/* Home left Banner End  */


.banner-center-item {
    position: relative;
    padding: 50px 0px;
    z-index: 1;
}

.centeral-img-beside1 {
    position: absolute;
    top: 24%;
    z-index: -2;
}

.centeral-img-beside2 {
    position: absolute;
    top: 25%;
    left: 7%;
    z-index: -2;

}


.swiper {
    width: 22em;
    height: 34em;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: #fff;
}

.swiper-slide:nth-child(2n) {
    background-color: #fff;
}

.swiper-slide:nth-child(3n) {
    background-color: #fff;
}

.banner-right-item {
    padding-bottom: 160px;
}

.home-card-img {
    margin: auto;
    padding: 10px;
}

.slide-img {
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.card-slide-ulist {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.intro-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #676d7a;
    font-size: small;
}

.slide-card-heading {
    font-weight: bolder;
    padding: 10px 20px;
    color: #192335;
    transition: all 0.5s;
}

.slide-card-heading:hover {
    cursor: pointer;
    color: #00A3C9;
}

.slide-card-paraText {
    color: #6b7385;
    padding: 0px 20px;
    font-size: medium;
}

.slide-card-ratings {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px 20px;
    align-items: center;
}

.ratings-icon {
    display: flex;

}

.fa-star {
    font-size: medium;
    color: #FF9747;
}

.rating-text {
    font-size: medium;
    color: #676d7a;
    font-weight: 500;
}

.slide-footer-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;

}

.ft-normal-text {
    font-weight: bolder;
    color: #676d7a;
    font-size: larger;

}

.ft-line-text {
    font-weight: bolder;
    font-size: large;
    color: #677a7963;
    text-decoration: line-through;
}

.slide-btn {
    text-decoration: none;
    font-size: medium;
    color: #192335;
    position: relative;
}

.slide-btns-span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.slide-btn:hover {
    cursor: pointer;
    color: #00A3C9;
    transition: all 0.2s;
}

/* .slide-btns-span::before {
    position: absolute;
    content: "";
    left: auto;
    bottom: -5px;
    background:transparent;
    width: 100%;
    height: 2px;
    transition: all ease 1.1s;
    transform: translateX(0px);
} */

.slide-btns-span::after {
    position: absolute;
    content: "";
    left: auto;
    bottom: -5px;
    background: transparent;
    width: 0%;
    height: 2px;
    transition: all ease 0.5s;
    transform: translateX(-50px);
}


.slide-btns-span:hover:after {
    background: #0d6efd;
    transform: translateX(0px);
    width: 100%;
}

/* .slide-btns-span:hover::before {
    background: #0d6efd;
    transform: translateX(50px);
    width: 0%;
} */




















@media (max-width:1130px) {
    .dts-header-phone-mail {
        visibility: hidden;
        display: none;
    }

    .dts-left-logo,
    .dts-search,
    .search-form-button {
        display: none;
    }

    .dts-seacrh-left-side-part,
    .dts-right-side-part {
        display: flex;
        align-items: center;
    }

    .dts-center-logo {
        display: flex;
    }

    .dts-header-navbar {
        display: none;
    }

    .banner-left-item {
        width: 100%;
    }

    .banner-center-item {
        display: none;
    }

    /* .dts-sidebar {
        display: block;
    } */
}

@media (max-width:950px) {
    .dts-head-add-content-icon {
        display: flex;
    }

    .dts-header-head-links {
        display: none;
    }

    .dts-header-head-content {
        display: flex;
        flex-wrap: nowrap;
        padding: 0px 20px;
    }

    .dts-header-head {
        padding: 10px 15px 10px 15px;
    }

    .banner-flex-items {
        display: block;
        padding: 50px 0px;
    }

}

@media (max-width:770px) {
    .swiper {
        width: 70%;
        height: max-content;
    }

    /* .dts-sidebar-side {
        width: 50%;
    } */
}

@media (max-width:425px) {
    /* .dts-sidebar-side {
        width: 90%;
    } */
}